<section class="section">
    <div class="container">
        <div class="columns">

            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title">
                        <%= @user.email %>
                        </p>
                        <figure class="image card-header-icon">
                            <img class="is-rounded is64x64" src="https://bulma.io/images/placeholders/64x64.png" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>


            
            <div class="column is-one-quarter">
                <div class="box has-text-centered">
                    <h2 class='title'>Created Events</h2>
                    <%= render(partial: 'panel', collection: @user_events, as: :event) || 'No Events to display' %>
                </div>
            </div>

            <div class="column is-one-quarter">
                <div class="box has-text-centered">
                    <h2 class='title'>Future Events</h2>
                    <% future_events =  @user.attended_events.filter {|e| e.date >= Date.today } %>
                    <%= render(partial: 'panel', collection: future_events, as: :event) || 'No Events to display' %>
                </div>
            </div>

            <div class="column is-one-quarter">
                <div class="box has-text-centered">
                    <h2 class='title'>Past Events</h2>
                    <% past_events = @user.attended_events.filter {|e| e.date < Date.today } %>
                    <%= render(partial: 'panel', collection: past_events, as: :event) || 'No Events to display' %>
                </div>
            </div>

        </div>
    </div>
</section>