<div class="column is-one-quarter">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title is-centered">
                <%= event.title %>
            </p>
        </header>

        <div class="card-content">
            <div class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus! Debitis eligendi quos, dolores, vero facere rerum velit illum temporibus dicta dolor culpa, inventore repellendus voluptatum dolorem ab iure omnis!
            </div>
        </div>
    <footer class="card-footer">
        <a href="<%= event_path(event)%>" class="card-footer-item">Details</a>
    </footer>
    </div>
</div>