<section class="hero is-primary is-fullheight-with-navbar">
</section>
</div>
<div class="section">
  <div class="container">
    <h2 id='upcoming' class='title has-text-centered'> Upcoming Events</h1>
    <div class="columns">
      <%= render partial: 'event', collection: @upcoming_events, as: :event %>
    </div>
    <h2 id='upcoming' class='title has-text-centered'> Past Events</h1>
    <div class="columns">
      <%= render partial: 'event', collection: @past_events, as: :event %>
    </div>
  </div>
</div>