<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column card is-6">
          <header class="card-header">
              <p class="card-header-title is-centered">
                  <%= @event.title %>
              </p>
          </header>

          <div class="card-content">
              <div class="content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, possimus! Debitis eligendi quos, dolores, vero facere rerum velit illum temporibus dicta dolor culpa, inventore repellendus voluptatum dolorem ab iure omnis!
              </div>
          </div>
          <% if user_signed_in? %>
          <div class="level">
            <div class="level-item is-justify-content-flex-center">
              <%= render 'attendance' %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</section>